@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  .scrollbar:hover::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #64635f;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 1px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #585758;
    
  }
}
